.container-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
    padding: 5rem 1rem;
}

.team {
    display: flex;
    flex: 1 1 calc(33.333% - 3rem);
    max-width: calc(33.333% - 3rem);
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    padding: 3rem 5rem;
    border-top: .8rem solid var(--main-color);
    border-bottom: .8rem solid var(--main-color);
}

.team img {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: .5rem solid var(--bg-color);
    outline: .5rem solid var(--main-color);
}

.team h3 {
    font-size: 2.5rem;
    margin: 2rem 0;
}

.team p {
    font-size: 1.4rem;
    text-align: center;
}

@media only screen and (max-width: 480px){
    .team {
        flex: none;
        max-width: none;
        width: 100%;
    }
}